.SearchBar--container {
  width: max-content;
  margin: 0 auto 40px;
}

.SearchBar {
  background-color: #122f4d;
  border: none;
  border-radius: 12px;
  color: #ffffff;
  padding: 10px 16px;
  font-size: 1rem;
}

.SearchBar::placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.SearchBar:hover {
  box-shadow: 0 2px 6px rgba(25, 52, 133, 0.28);
}

.SearchBar--text {
  text-align: center;
}
